<?xml version="1.0" encoding="utf-8"?>

<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/41ae9db7-c4c6-401e-a161-89f9220d9fee/resourceGroups/IAttendanceResourceGroup/providers/Microsoft.Web/sites/IAttendance</ResourceId>
    <ResourceGroup>IAttendanceResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iattendance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iattendance.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IAttendance</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IAttendance</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IAttendanceConnection" Order="1" Enabled="True">
          <Destination
            Path="Data Source=tcp:iattendancedb.database.windows.net,1433;Initial Catalog=IAttendance_db;User ID=ducmeit1@iattendancedb;Password=Abc12345#$"
            Name="Data Source=tcp:iattendancedb.database.windows.net,1433;Initial Catalog=IAttendance_db;User Id=ducmeit1@iattendancedb;Password=Abc12345#$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration"
                    DbContext="IAttendanceWebAPI.Persistence.ApplicationDbContext, IAttendanceWebAPI"
                    MigrationConfiguration="IAttendanceWebAPI.Migrations.Configuration, IAttendanceWebAPI"
                    Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="IAttendanceConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iattendancedb.database.windows.net,1433;Initial Catalog=IAttendance_db;User Id=ducmeit1@iattendancedb;Password=Abc12345#$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>