<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/41ae9db7-c4c6-401e-a161-89f9220d9fee/resourcegroups/IAttendanceWebAPI20180316113040ResourceGroup/providers/Microsoft.Web/sites/IAttendanceWebAPI20180316113040</ResourceId>
    <ResourceGroup>IAttendanceWebAPI20180316113040ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iattendancewebapi20180316113040.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iattendancewebapi20180316113040.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IAttendanceWebAPI20180316113040</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IAttendanceWebAPI20180316113040</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IAttendanceConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=localhost;Initial Catalog=IAttendance;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IAttendanceWebAPI.Persistence.ApplicationDbContext, IAttendanceWebAPI" MigrationConfiguration="IAttendanceWebAPI.Migrations.Configuration, IAttendanceWebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="IAttendanceConnection-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=IAttendance;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>